@page "/tooltips"
@rendermode InteractiveAuto
@using Core

<div class="container">
    <div class="bd-example tooltip-demo" >
        <div class="bd-example-tooltips">
            <Tooltip Title="Tooltip on top" Placement="TooltipPlacement.Top">
                <button type="button" class="btn btn-secondary">Tooltip on top</button>
            </Tooltip>

            <Tooltip Title="Tooltip on right" Placement="TooltipPlacement.Right">
                <button type="button" class="btn btn-secondary">Tooltip on right</button>
            </Tooltip>

            <Tooltip Title="Tooltip on bottom" Placement="TooltipPlacement.Bottom">
                <button type="button" class="btn btn-secondary">Tooltip on bottom</button>
            </Tooltip>

            <Tooltip Title="Tooltip on left" Placement="TooltipPlacement.Left">
                <button type="button" class="btn btn-secondary">Tooltip on left</button>
            </Tooltip>
        </div>
    </div>
</div>


